<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Word
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Enter First Word</ion-label>
    <ion-input [disabled]="flag" type="text" [(ngModel)]="first_word"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label position="floating">Enter Second Word</ion-label>
    <ion-input [disabled]="flag" type="text" [(ngModel)]="second_word"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>please select adult if you are above 18 or select below adult</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="sel" [disabled]="flag">
      <ion-select-option value="adult">Adult</ion-select-option>
      <ion-select-option value="notadult">Not Adult</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-button [disabled]="flag" type="button" (click)="check_availablity()">Check Availablity</ion-button>

  <ion-item>
    <ion-label position="floating">Enter Name</ion-label>
    <ion-input type="text" [disabled]="!flag" [(ngModel)]="name"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label position="floating">Enter Email id</ion-label>
    <ion-input type="email" [disabled]="!flag" [(ngModel)]="email_id"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Birthyear</ion-label>
    <ion-datetime displayFormat="YYYY" [disabled]="!flag" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Enter Zipcode</ion-label>
    <ion-input type="text" [disabled]="!flag" [(ngModel)]="zipcode"></ion-input>
  </ion-item>
  <ion-button type="button" [disabled]="!flag" (click)="add_word()">Add Word</ion-button>
  
</ion-content>
