<ion-header>  
  <ion-toolbar >  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      Word Game
    </ion-title> 
    <ion-buttons slot="end">  
      <ion-icon name="logo-usd"></ion-icon> {{coin}}
    </ion-buttons> 
  </ion-toolbar>   
</ion-header>





<ion-content [fullscreen]="true" class="bg" >
  
  <div>


    
    <ion-item>
      <ion-label>SortBy</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One" [(ngModel)]="choice" (ionChange)="onsortselect()">
        <ion-select-option value="asc">A-Z</ion-select-option>
        <ion-select-option value="desc">Z-A</ion-select-option>
        <ion-select-option value="d_t">Date & Time</ion-select-option>
        <ion-select-option value="r_t">Rating</ion-select-option>
      </ion-select>
    </ion-item>
  

  
  <ion-slides *ngIf="word_list1.length>0" [options]="slideOpts"  scrollbar="true" style="height:65vh;" #mySlider autoplay="5" loop="true" speed="5" (ionSlidesDidLoad)="slidesDidLoad(mySlider)" (ionSlideTouchEnd)="slideChanged(mySlider)">
    <ion-slide *ngFor="let items of word_list1">
      <ion-card style="height: 50%; width:80%;background-color: transparent; box-shadow: none;" (click)="navigated_fun(items)">
        <ion-card-header>
        
          <ion-card-title style="padding-top:20%;">{{items.word_name}}</ion-card-title>
          
        </ion-card-header>
      </ion-card>
    </ion-slide>

    



    

  </ion-slides>
</div>
  
</ion-content>
